.gamecontainer {
  background-color: #7782e4;
  border: solid 0px red;
  flex-grow: 1;
  position: relative;
  width: 1600px;
  height: 900px;
  min-width: 1600px;
  max-width: 1600px;
  min-height: 900px;
  max-height: 900px;
  margin: 5px;
  z-index: 1;
}

.menucontainer {
  position: relative;
  top: 200px;
  width: 100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: solid 1px rgb(0, 0, 0);
  background-color: #7782e4ab;
  width: 1050px;
  height: 550px;
  margin: 0 auto;
  border-radius: 5px;
}
.pause {
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.5rem;
  font-size: 10rem;
}

.little {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: unset;
  text-align: center;
  margin-top: 160px;
}
