.base {
  min-width: 1650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  background-color: #844c93;
}
.container {
  min-width: 1650px;
  max-width: 1650px;
  min-height: 950px;
  max-height: 950px;
  display: flex;
  flex-direction: column;
  border: solid 0px purple;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
}
.top {
  height: 60px;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 140%;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
